body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 5;
  padding: 5;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

textarea {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  align-self: flex-end;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}
